$body-color: #e9ebee;
$charcoal: #36454f;
$boulder: #7c817c;
$blue-ribbon: #0450e7;
$lochmara: #0082ba;
$ghost: #c5cdd8;
@mixin breakpoint($point) {
    @if $point == mobile {
        @media only screen and (min-width: 1px) and (max-width: 599px) {
            @content;
        }
    }
    @if $point == tablet {
        @media only screen and (min-width: 600px) and (max-width: 1023px) {
            @content;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    background-color: $body-color;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $charcoal;
}
#app-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    .main-container {
        display: flex;
        width: 750px;
        align-items: center;
        flex-direction: column;
        .top-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 20px;
            .logo {
                width: 50%;
            }
            .date-picker-outer {
                width: 50%;
                display: flex;
                justify-content: end;
                align-items: center;
                margin-right: 10px;
            }
        }
        .middle-row {
            width: 100%;
        }
    }
    .image-display {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: $charcoal 2px solid;
        border-radius: 8px;

        .title-elements {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            h2 {
                margin: 10px 0;
                font-size: 16px;
            }
        }

        img {
            margin: 10px 0;
        }
        .bottom-row {
            display: flex;
            align-items: center;
            .like-section {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                .like-display {
                    font-size: 40px;
                    font-weight: lighter;
                }
            }
            .description {
                margin-left: 15px;
                width: 100%;
                font-size: 14px;
                font-weight: normal;
            }
        }
    }
}

.dropdown-container {
    height: 150px;
    width: 100%;
    height: fit-content;
    position: relative;

    .dropdown-options {
        background-color: white;
        border-radius: 0 0 10px 10px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .dropdown-option {
            height: 24px;
            display: flex;
            align-items: center;
            padding-left: 5px;
            cursor: pointer;
            &:hover,
            &.focused {
                background-color: $ghost;
            }
            &.selected {
                background-color: $blue-ribbon;
                color: white;
            }
        }
    }
    .dropdown-icon {
        position: absolute;
        top: 5px;
        right: 10px;
        height: 10px;
        color: $boulder;
        pointer-events: none;
    }
}
input.select-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
    background: #ffffff;
    border: 1px solid $boulder;
    border-radius: 4px;
    color: $charcoal;
    cursor: pointer;
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box;
    &::selection {
        color: none;
        background: none;
    }

    &.open {
        border-radius: 4px 4px 0 0;
    }
}

.btn-styled {
    background-color: $blue-ribbon;
    color: #ffffff;
    border-style: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    &.small {
        background-color: white;
        border: $charcoal 1px solid;
        font-size: 14px;
        color: black;
    }
    &:hover {
        background-color: $boulder;
    }
    &:focus-visible {
        border: black 2px solid;
    }
}
.date-picker-container {
    width: 200px;
    height: 32px;
    position: relative;
    input.date-display {
        display: flex;
        flex-direction: row;
        // padding: 0px 30px 0px 10px;
        width: 100%;
        height: 100%;
        background: #ffffff;
        border: 1px solid $boulder;
        border-radius: 4px;
        color: $charcoal;
        text-align: center;
        cursor: pointer;
        padding: 0;
        font-size: 16px;
        padding-left: 10px;
        box-sizing: border-box;
        &::selection {
            color: none;
            background: none;
        }
        &:focus {
            border: none;
            outline: 0;
            border-bottom: $lochmara 2px solid;
        }
        &.focused {
            border-bottom: $lochmara 2px solid;
        }
    }
    .icon {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -40%);
        color: $charcoal;
        background-color: white;
        background: transparent;
        z-index: 1;
        height: 60%;
        pointer-events: none;
        img {
            height: 100%;
        }
    }
    .date-calendar-container {
        position: absolute;
        height: fit-content;
        width: 250px;
        right: 0;
        background-color: white;
        border: $boulder solid 1px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        border-radius: 5px;
        padding: 10px;
        .top-calendar-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .month-dropdown {
                width: 125px;
            }
            .year-dropdown {
                width: 75px;
            }
        }
        .middle-calendar-row {
            margin-top: 10px;
            table {
                display: table;
                width: 100%;
                tr {
                    display: flex;
                    justify-content: space-around;
                    padding-bottom: 2px;

                    td {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        margin: 0 2px;
                        button.td-button {
                            width: 100%;
                            border-style: none;
                            border-radius: 4px;
                            padding: 4px;
                            cursor: pointer;
                            &:hover {
                                background-color: $boulder;
                            }
                            &:focus-visible {
                                border: black 2px solid;
                            }
                            &.disabled {
                                pointer-events: none;
                            }
                            &.selected {
                                background-color: $blue-ribbon;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .bottom-calendar-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}
